.cart_container {
  position: fixed;
  top: 0;
  right: 0;
  width: 70vw;
  height: 100%;
  overflow: hidden;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1001;
  box-shadow: var(--hover-shadow);
}

.cart_container.active {
  transform: translateX(0%);
}
.prd_img {
  width: 120px;
  min-width: 120px;

  overflow: hidden;
}

.cart_black_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: ;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.cart_black_bg.active {
  visibility: visible;
  opacity: 1;
}

.side_bar.close {
  transform: translateX(-100%);
}

.side_bar .cross_btn {
  width: 30px;
  height: 30px;
}
